background: #D0E4F5 url("https://mcdn.wallpapersafari.com/medium/22/47/zEegyw.png") no-repeat scroll 50% 50%;
font-family: "Lucida Console", Monaco, monospace;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
